# Copyright 2026 Qiheng He
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

name: Test
on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master
  workflow_dispatch:
permissions:
  pull-requests: write
jobs:
  license-check:
    runs-on: 'ubuntu-latest'
    steps:
      - uses: actions/checkout@v4
      - uses: apache/skywalking-eyes/header@v0.8.0
      - uses: apache/skywalking-eyes/dependency@v0.8.0
  test-ci:
    name: Test - JDK ${{ matrix.java }} on ${{ matrix.os }}
    if: github.repository == 'linghengqian/hive-server2-jdbc-driver'
    strategy:
      matrix:
        java: [ '17', '24' ]
        os: [ 'ubuntu-latest', 'windows-2025' ]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - name: Setup Rancher Desktop without GUI on Windows Server
        if: matrix.os == 'windows-2025'
        run: |
          [Environment]::SetEnvironmentVariable('DOCKER_API_VERSION','1.44','Machine')
          iex "& { $(irm https://raw.githubusercontent.com/microsoft/Windows-Containers/refs/heads/Main/helpful_tools/Install-DockerCE/uninstall-docker-ce.ps1) } -Force"
          irm https://raw.githubusercontent.com/jazzdelightsme/WingetPathUpdater/v1.2/WingetPathUpdaterInstall.ps1 | iex
          winget install --id SUSE.RancherDesktop --source winget --skip-dependencies
          rdctl start --application.start-in-background --container-engine.name=moby --kubernetes.enabled=false
          ./subprojects/doc/helpful_tools/wait-for-rancher-desktop-backend.ps1
          "PATH=$env:PATH" >> $env:GITHUB_ENV
      - uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: ${{ matrix.java }}
          cache: 'maven'
      - run: |
          ./mvnw -T 1.5C clean test
  native-test-ci:
    name: NativeTest - GraalVM CE for JDK ${{ matrix.java }} on ${{ matrix.os }}
    if: github.repository == 'linghengqian/hive-server2-jdbc-driver'
    strategy:
      matrix:
        java: [ '22.0.2', '24.0.2' ]
        os: [ 'ubuntu-latest' ]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - uses: graalvm/setup-graalvm@v1
        with:
          java-version: ${{ matrix.java }}
          distribution: 'graalvm-community'
          github-token: ${{ secrets.GITHUB_TOKEN }}
          cache: 'maven'
          native-image-job-reports: 'true'
      # TODO The `-T 1.5C` flag cannot be used because the `native-maven-plugin` is poorly designed,
      #   with many MOJOs bundled with the Maven lifecycle by default.
      #   See https://github.com/graalvm/native-build-tools/issues/410 .
      - name: NativeTest on GraalVM CE For JDK 22.0.2 on ${{ matrix.os }}
        if: matrix.java == '22.0.2'
        run: ./mvnw -PnativeTestInCustom clean test
      - name: NativeTest on GraalVM CE For JDK 24.0.2 on ${{ matrix.os }}
        if: matrix.java == '24.0.2'
        run: ./mvnw -PnativeTestInJava23+ clean test
  # todo wait for GraalVM CE For JDK 25 release
  native-test-ci-on-oracle-graalvm:
    name: NativeTest - Oracle GraalVM for JDK ${{ matrix.java }} on ${{ matrix.os }}
    if: github.repository == 'linghengqian/hive-server2-jdbc-driver'
    strategy:
      matrix:
        java: [ '25-ea' ]
        os: [ 'ubuntu-latest', 'windows-2025' ]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - name: Setup Rancher Desktop without GUI on Windows Server
        if: matrix.os == 'windows-2025'
        run: |
          [Environment]::SetEnvironmentVariable('DOCKER_API_VERSION','1.44','Machine')
          iex "& { $(irm https://raw.githubusercontent.com/microsoft/Windows-Containers/refs/heads/Main/helpful_tools/Install-DockerCE/uninstall-docker-ce.ps1) } -Force"
          irm https://raw.githubusercontent.com/jazzdelightsme/WingetPathUpdater/v1.2/WingetPathUpdaterInstall.ps1 | iex
          winget install --id SUSE.RancherDesktop --source winget --skip-dependencies
          rdctl start --application.start-in-background --container-engine.name=moby --kubernetes.enabled=false
          ./subprojects/doc/helpful_tools/wait-for-rancher-desktop-backend.ps1
          "PATH=$env:PATH" >> $env:GITHUB_ENV
      - uses: graalvm/setup-graalvm@v1
        with:
          java-version: ${{ matrix.java }}
          distribution: 'graalvm'
          github-token: ${{ secrets.GITHUB_TOKEN }}
          cache: 'maven'
          native-image-job-reports: 'true'
      # TODO The `-T 1.5C` flag cannot be used because the `native-maven-plugin` is poorly designed,
      #   with many MOJOs bundled with the Maven lifecycle by default.
      #   See https://github.com/graalvm/native-build-tools/issues/410 .
      - name: NativeTest on Oracle GraalVM For JDK ${{ matrix.java }} on ${{ matrix.os }}
        run: ./mvnw -PnativeTestInJava23+ clean test
